@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(https://fonts.googleapis.com/css?family=Times+New+Roman);

@font-face {
    font-family: 'Quincy Regular';
    src: url('../fonts/cc5297d4669a4a9f5addef2f50bbe238.eot');
    src: url('../fonts/cc5297d4669a4a9f5addef2f50bbe238.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cc5297d4669a4a9f5addef2f50bbe238.woff2') format('woff2'),
    url('../fonts/cc5297d4669a4a9f5addef2f50bbe238.woff') format('woff'),
    url('../fonts/cc5297d4669a4a9f5addef2f50bbe238.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #eaeaea;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.page-loading.active {
    opacity: 1;
    visibility: visible;
}

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active > .page-loading-inner {
    opacity: 1;
}

.page-loading-inner > span {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #737491;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    border: .15em solid #766df4;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    z-index: 2;
    /*overflow: hidden;*/
}

#canv {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    backdrop-filter: blur(12px);
    z-index: 3;
}

.quote-field {
    display: flex;
    flex-direction: column-reverse;
    align-items: self-end;
}

.tsitaat {
    /*z-index: 3;
    margin-top: 33rem;
    margin-left: 2rem;
    margin-bottom: 0;*/
}

footer {
    z-index: 3;
}

blockquote {
    border-left: none;
}

.media-body {
    display: flex;
    padding-top: 40px;
}
.quote-box {
    overflow: hidden;
    border-radius: 0 10px 0 10px;
    background-color: rgb(246, 246, 246);
    color: #a1a1a1;
    min-height: 100px;
    padding-left: 15px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    margin-right: 65px;
}

.quotation-mark {
    position: absolute;
    top: -15px;
    left: -10px;
    font-weight: bold;
    font-size: 100px;
    color: #a1a1a1;
    font-family: "Times New Roman", Georgia, Serif;
    z-index: 999;
}

.quote-text {
    font-size: 20px;
    padding-top: 40px;
    margin: 0;
    padding-right: 15px;
    color: #ff4400;
    font-family: 'Quincy Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
!important;
}


html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
    background-image: url("../img/arrow-down.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor:pointer;
    height: 60px;
    width: 80px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
    animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
    0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
    0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
    0%   { transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,20px); opacity: 0; }
}

.footer {
    /*border: #e0e0e0 dashed 12px;*/
}